@font-face {
  font-family: "bn-code";
  src: url("BN6FontSmallThCd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* --width: 960px; */
  --width: 720px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  width: var(--width);
  image-rendering: pixelated;
}

textarea {
  width: var(--width);
  min-height: 300px;
}

#city-scape {
  display: none;
}
